layout: index
description: Xblog 是一个快速，强大的博客系统。
subtitle: 快速、简洁且高效的博客框架
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 专注写作
      p.intro-feature-desc 支持 GitHub Flavored Markdown 的全部特性。 实时保存、预览、发布，文章的多状态管理。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 超快速度
      p.intro-feature-desc 精心优化每一条数据查询和代码调优，更有可选的 Redis 缓存让你的博客在百毫秒内打开。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 功能强大
      p.intro-feature-desc 图片拖拽、粘贴板上传不在话下，更有文章管理、文件管理和完善的评论系统。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 更多自定义
      p.intro-feature-desc 开启评论？谷歌分析？打造你的独一无二的博客。